@import 'settings';
@import 'foundation';

.ht-red {
	background: $primary-color;
}

.ht-red th{
	color: #ffffff;
	font-weight: bold;
	font-size: 1.25em;
	padding: 5px;
}

th.hdr, th.no-bottom {
	padding-bottom: 0px;
}

.red-em {
	color: $primary-color;
}

.one-half {
	font-size: 1.5em;
	font-weight: bold;
}

.white-bg {
  background-color: #ffffff;
}

.bdr {
   border-right: 1.5px solid $primary-color;
}


.left-bdr {
	border-left: 1px solid #D9DADA;
}

.red-box {
	border: 2px solid $primary-color;
}

.red-box .padding {
	padding-left: 6px;
	padding-top: 6px;
}

@media only screen and (max-width: #{$global-breakpoint}) {

	.bdr {
		border: 0 !important;
	}

	.no-bdr span.hide-for-large, .bdr span.hide-for-large {
		font-size: 12px !important;
		font-weight: 400 !important;
		line-height: 16px !important;
		padding-left: -10px !important;
	}

	.no-bdr span.fx, .bdr span.fx {
		padding-left: 36px !important;
	}

	.bg-img {
		background: none !important;
	}

}